.buttons{
    display:flex;
    flex-direction: column;
    gap:2px;
}
button{
    width:70px;
    font-size:40px;
    background-color:green;
    border: 2px solid black;
}
#top{
    width:144px;
    background-color: yellow;
}
#display{
    height:60px;
    border:1px solid black;
    width: 282px;
    font-size: 60px;
    margin:0px;
    padding-left: 4;
    margin-bottom: 10px;
    display:flex;
    padding-left: 8px;
    align-items: center;
}
#operator{
    background-color: blue;
}
#special{
    background-color: red;
}
